body {
	font-family: 'Monaco', sans-serif;
}

h1 {
  font-size: 27px;
}

#app-package {
	max-width: 980px;
	margin: 0 auto;
}	

.vertical-text {
	transform: rotate(90deg) translate(45px, 0);
	letter-spacing: 2px;
	white-space: nowrap;
}
