body {
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 27px;
}

#app-package {
	max-width: 980px;
	margin: 0 auto;
}	

.product-box--center {
    margin: 50px auto;
}

.product-box {
    width: 200px;
    position: relative;
    zoom: 2.3;
}

/* angielski 1-color #731414 */
/* angielski 2-color #a81515 */

.gradient-radial {
    background: #731414; /* Old browsers */
    background: radial-gradient(ellipse at center, #731414 0%,#a81515 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#731414', endColorstr='#a81515',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-vertical {
    background: #a81515; /* Old browsers */
    background: linear-gradient(to bottom, #a81515 0%,#731414 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a81515', endColorstr='#731414',GradientType=0 ); /* IE6-9 */
}

.gradient-vertical-yellow {
    background: #ffce00; /* Old browsers */
    background: linear-gradient(to bottom, #ffce00 0%,#d37b17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce00', endColorstr='#d37b17',GradientType=0 ); /* IE6-9 */
}

.gradient-radial-yellow {
    background: #ffce00; /* Old browsers */
    background: radial-gradient(ellipse at center, #ffce00 0%,#d37b17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce00', endColorstr='#d37b17',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-vertical-purple {
    background: rgb(169,3,41); /* Old browsers */
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.gradient-radial-purple {
    background: rgb(109,0,25); /* Old browsers */
    background: radial-gradient(ellipse at center, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.product-box-front {
    width: 185px;
    height: 340px;
    transform: skewY(6deg);
    overflow: hidden;
}

.product-box-front:after {
    content: '';
    position: absolute;
    width: 185px;
    height: 50px;
    right: 0;
    bottom: -25px;
    background: #fff;
    transform: skewY(-12deg);
}

.product-box-front-content {
    transform: rotate(-1deg);
    color: #fff;
    text-align: center;
}

.product-box-side {
    position: absolute;
    left: -45px;
    top: -4px;
    width: 45px;
    height: 337px;
    transform: skewY(-14deg);
    overflow: hidden;
}

.product-box-side:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 45px;
    height: 40px;
    transform: skewY(29deg);
    background: #fff;
}

.product-box-side-content {
    transform: rotate(0.4deg);
    color: #fff;
    text-align: center;
}

.product-box-settings {
    text-align: center;
}
